/* Remember to download Noto Sans and Montserrat fonts from Google Fonts: https://fonts.google.com/ */

:root {
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
}
p {
  font-family: "Montserrat", sans-serif;
  line-height: 1.8rem;
}
button {
  font-family: "Montserrat", sans-serif;
}
a {
  font-family: "Montserrat", sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.extra-bold {
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
}
/* ---------------------------------------------------------------------------- */

/* MEDIA QUERY */

@media all and (max-width: 425px) {
  header {
    width: 100%;
  }
  #link-nav-header {
    display: none;
  }
  #testo-header {
    width: 100%;
  }
}
/* ---------------------------------------------------------------------------- */

/* HEADER */

header {
  background-color: #404eed;
  background-image: url(img/hero-bg.svg);
  background-position-x: center;
  background-origin: border-box;
  background-repeat: no-repeat;
  height: 620px;
}
#main-section {
  position: relative;
  height: 620px;
}
#link-nav-header {
  display: flex;
  gap: 40px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
}
#nav {
  display: flex;
  justify-content: center;
  width: 100%;
}
#n {
  margin-top: 23px;
}
#button-download-header {
  margin: 24px 24px 0 0;
}
#centro-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 620px;
  width: 100%;
}
#testo-header {
  color: #fff;
  width: 800px;
  z-index: 2;
}
#testo-header > h1 {
  font-size: 70px;
  line-height: 3rem;
  font-family: "Kanit", sans-serif;
  margin: 100px 0 50px;
}
#button-download-header {
  background-color: #fff;
}
#button-download-header > a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
}
#open-discord {
  background-color: #23272a;
  padding: 22px 32px;
  margin-bottom: 0;
}
#open-discord:hover {
  background-color: #313338;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
}
#open-discord > a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
#img-header > img {
  z-index: 1;
  position: absolute;
  bottom: 0;
}
#img-1 {
  left: 6rem;
}
#img-2 {
  right: 6rem;
}

/* ---------------------------------------------------------------------------- */

/* SECTION CENTRALE */
#color {
  background-color: #f6f6f6;
  padding: 7rem 0;
}
.txt-img-section {
  display: flex;
  text-align: justify;
  align-items: center;
  justify-content: center;
  padding: 7rem 0;
}
.txt {
  width: 380px;
  height: auto;
}
.txt > h3 {
  font-family: "Montserrat", sans-serif;
  line-height: 42.5px;
  font-size: 2.3rem;
  margin-bottom: 2rem;
}
/* ---------------------------------------------------------------------------- */

/* SEZIONE DOWNLOAD */

#download {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #f6f6f6;
}
#tecnologia {
  width: 45rem;
  font-size: 20px;
  margin: 8rem 0 5rem;
}
#tecnologia > h2 {
  font-family: "Kanit", sans-serif;
  line-height: 50px;
  font-size: 50px;
  font-weight: 800;
}
#img-download {
  margin-bottom: 5rem;
}
#avventura {
  background-image: url(img/stars.svg);
  background-position: bottom;
  height: 40px;
  margin-bottom: 2.3rem;
  font-family: "Montserrat", sans-serif;
  font-size: 23px;
  line-height: 2.3rem;
}
.large-button {
  margin-bottom: 6.5rem;
  border-radius: 35px;
  border: none;
  padding: 16px 32px;
}
.large-button:hover {
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
}
#button-download {
  background-color: #5865f2;
}
#button-download:hover {
  background-color: #838be9;
}
#button-download > a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

/* ---------------------------------------------------------------------------- */

/* FOOTER */
footer {
  background-color: #23272a;
  padding: 4rem 20rem;
}
#main-section-footer {
  position: relative;
  height: 570px;
}
#main-div-footer {
  display: flex;
  justify-content: space-between;
  height: 420px;
}
#link-footer {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  width: 60%;
  height: auto;
  line-height: 2rem;
}
#link-footer > div {
  width: 200px;
}

#link-footer > div > p {
  font-size: 16px;
  color: #5865f2;
  margin-bottom: 2rem;
}
#dropdown {
  margin-top: 30px;
  position: relative;
  top: -235px;
}
#dropdown-head {
  margin-top: 10px;
}
.language-selector {
  display: flex;
  font-size: 14px;
  align-items: center;
  gap: 3px;
}
.language-selector > img {
  width: 24px;
  height: 16px;
  margin-right: 2px;
}
.language-selector > p > a {
  color: #000;
  text-decoration: none;
}
#menù {
  background-color: #fff;
  width: fit-content;
  border-radius: 30px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.dropdown-menù {
  margin: 7.5px 15px 0;
}
#menù:hover {
  opacity: 1;
}

.language-selector > button {
  background-color: transparent;
  border: none;
  color: #fff;
}

#social {
  margin-top: 48px;
  display: flex;
  gap: 30px;
  position: relative;
  top: -235px;
}
select {
  background-color: #23272a;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}
option {
  background-color: #23272a;
  color: #fff;
}
div > a {
  color: #fff;
  text-decoration: none;
}
nav {
  display: flex;
  width: 65.7rem;
  justify-content: space-between;
  position: absolute;
}
#footer-nav {
  border-top: 1px solid #5865f2;
  padding-top: 2rem;
  bottom: 10px;
}
#footer-nav-button {
  background-color: #5865f2;
}
#footer-nav-button:hover {
  background-color: #838be9;
}
#footer-nav-button > a {
  color: #fff;
}
.nav-button {
  border: none;
  border-radius: 25px;
  padding: 7px 16px;
}
.nav-button:hover {
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
}
.nav-button > a {
  text-decoration: none;
  font-size: 14px;
}
